In [1]:
import pandas as pd

In [2]:
if 'bigDataFrame' in globals():
    print("Exist, do nothing!")
else:
    print("Read data.")
    bigDataFrame = pd.read_pickle("../output/bigDataFrame.pkl")

Read data.

In [3]:
bigDataFrame.head()

                               C6H6  CO   NO2    O3  PM10  PM2.5  SO2
Hour                Station
2000-01-01 01:00:00 Pm.a01a     NaN NaN  25.0   NaN   NaN    NaN  NaN
                    Pm.a03a     NaN NaN   NaN  38.0   NaN    NaN  NaN
2000-01-01 02:00:00 DsCzer02    NaN NaN   6.0  35.0   NaN    NaN  NaN
                    DsJelw05    NaN NaN  14.0  29.0   NaN    NaN  NaN
                    DsSniezka   NaN NaN   NaN  61.0   NaN    NaN  NaN

In [4]:
bigDataFrame['2015-01-01 00:00:00':'2015-12-31 23:00:00'].idxmax()

C6H6     (2015-10-28 06:00:00, OpKKozBSmial)
CO       (2015-02-15 00:00:00, SlRybniBorki)
NO2      (2015-11-07 10:00:00, PmStaGdaLubi)
O3       (2015-07-04 12:00:00, LuZarySzyman)
PM10     (2015-12-31 20:00:00, SlRybniBorki)
PM2.5    (2015-03-22 23:00:00, MzLegZegrzyn)
SO2      (2015-05-21 23:00:00, MzPlocKroJad)
dtype: object