Based on http://machinelearningmastery.com/time-series-forecast-study-python-monthly-sales-french-champagne/

In [1]:
%matplotlib inline

In [2]:
import requests
from pandas.io.json import json_normalize
import pandas as pd

In [3]:
sensorId = 4727
r = requests.get('http://api.gios.gov.pl/pjp-api/rest/data/getData/' + str(sensorId))

In [15]:
concentration = json_normalize(r.json())
concentrationFrame = pd.DataFrame()
concentrationFrame["dates"] = [d[u'date'] for d in concentration["values"].values.item()]
concentrationFrame["values"] = [d[u'value'] for d in concentration["values"].values.item()]
concentrationFrame.set_index(["dates"], inplace=True)
concentrationFrame = concentrationFrame.iloc[::-1]
concentrationFrame = concentrationFrame[:-1]  #removing last line

In [24]:
validationFrame = concentrationFrame.tail(n=len(concentrationFrame)/10)
trainingFrame = concentrationFrame[:-len(validationFrame)]

In [27]:
trainingFrame

                       values
dates
2017-04-20 01:00:00  26.20380
2017-04-20 02:00:00  21.36130
2017-04-20 03:00:00  15.92620
2017-04-20 04:00:00   9.71458
2017-04-20 05:00:00   7.08664
2017-04-20 06:00:00   1.00000
2017-04-20 07:00:00  15.98260
2017-04-20 08:00:00  30.82270
2017-04-20 09:00:00  17.07150
2017-04-20 10:00:00   8.96589
2017-04-20 11:00:00   3.14964
2017-04-20 12:00:00   1.00000
2017-04-20 01:00:00   3.02642
2017-04-20 02:00:00  25.58760
2017-04-20 03:00:00       NaN
2017-04-20 04:00:00   1.00000
2017-04-20 05:00:00   1.00000
2017-04-20 06:00:00   7.97433
2017-04-20 07:00:00  30.15160
2017-04-20 08:00:00  29.42090
2017-04-20 09:00:00  34.80730
2017-04-20 10:00:00  32.77470
2017-04-20 11:00:00  28.16880
2017-04-21 12:00:00  16.39870
2017-04-21 01:00:00  19.14730
2017-04-21 02:00:00   1.65206
2017-04-21 03:00:00  12.53800
2017-04-21 04:00:00   1.00000
2017-04-21 05:00:00  20.45770
2017-04-21 06:00:00  22.90880
2017-04-21 07:00:00  13.48710
2017-04-21 08:00:00  32.13200
2017-04-21 09:00:00  17.73870
2017-04-21 10:00:00  12.90010
2017-04-21 11:00:00   4.74283
2017-04-21 12:00:00  10.70450
2017-04-21 01:00:00   1.00000
2017-04-21 02:00:00   2.95744
2017-04-21 03:00:00  27.01130
2017-04-21 04:00:00  22.96910
2017-04-21 05:00:00  21.15800
2017-04-21 06:00:00   1.00000
2017-04-21 07:00:00   5.51700
2017-04-21 08:00:00   4.58017
2017-04-21 09:00:00   6.83833
2017-04-21 10:00:00   1.00000
2017-04-21 11:00:00   1.00000
2017-04-22 12:00:00   1.00000
2017-04-22 01:00:00   6.34769
2017-04-22 02:00:00   1.90883

In [28]:
validationFrame

                      values
dates
2017-04-22 03:00:00  12.5559
2017-04-22 04:00:00  16.6114
2017-04-22 05:00:00  18.7686
2017-04-22 06:00:00  18.0841
2017-04-22 07:00:00  13.1477

In [31]:
print('Whole dataset %d, training %d, validation %d' % (len(concentrationFrame), len(trainingFrame), 
                                                        len(validationFrame)))

Whole dataset 55, training 50, validation 5